@model SuperShop.Models.EntityModels.ProductCatagory
@{ 
    ViewBag.Title = "Product Catagory Edit";
}

<div class="card">
    <div class="card-header">
        <h1>Customer Edit</h1>
    </div>
    <div class="card-body">
        <form method="post">
            <input asp-for="Id" type="hidden" />
            <div>
                <label for="Name">Name</label>
                <input asp-for="Name" type="text" class="form-control" />
            </div>

            <div>
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
