@model IEnumerable<ProductCatagory>
@{
    ViewBag.Title = "Product Catagory List";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Product Catagory List</h6>
    </div>
    <div class="card-body">
        <p>To Add product you have to add product catagory first.</p>
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>


        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>


            <tbody>
                @foreach (var catagory in Model)
                {
                    <tr>
                        <td>@catagory.Name</td>
                        <td>
                            <a asp-controller="ProductCatagory" asp-action="Edit" asp-route-id="@catagory.Id"><i class="far fa-edit"></i></a>
                            <a asp-controller="ProductCatagory" asp-action="Delete" asp-route-id="@catagory.Id"><i class="far fa-trash-alt" style="color:#DC143C;"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

