@model AdministratorEditViewModel

@{ 
    ViewBag.Title = "Edit Role";
}

    <div class="card">
        <div class="card-header">
            <h1>Edit Role</h1>
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="Id">Id</label>
                    <input type="text" asp-for="Id" disabled class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="alert-danger"></span>
                </div>
                <div>
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="List" class="btn btn-primary">Cancel</a>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
            <div>
                @*<h3>User List</h3>*@
                @*@if (Model.Users.Any())
                {
                    foreach(var user in Model.Users)
                    {
                        <label>@user</label>
                    }
                }
                else
                {
                    <h3>Not in the moment</h3>
                }*@
            </div>
        </div>
    </div>